a{
  float: right;
}

h2{
text-align: center;
}
<<<<<<< HEAD
=======

>>>>>>> f96454dd0603369a800d3660c087ab79b35fe784
i{

  text-shadow: 1px 1px 1px #ccc;
  font-size: 1.5em;
<<<<<<< HEAD
}
=======
}
>>>>>>> f96454dd0603369a800d3660c087ab79b35fe784
