<app-card>
  <span slot="start"><h2>Brand List</h2></span>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 30%">Name</th>
        <th style="width: 40%">
          <a routerLink="add" class=" mb-2"
            ><i class="fa fa-plus-circle"  style="color:green"></i></a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of brand">
        <td>{{ item.name }}</td>

        <td style="white-space: nowrap">
          <i class="bi bi-trash"></i> <a

            type="button"
            class="btn btn-sm btn-danger m-2"
            [routerLink]="['/home/model', item.id]"
            >Details Model</a
          >

          <a routerLink="edit/{{ item.id }}" class=" mt-2"
            ><i class="fa fa-edit"></i></a
          >
          <a
            type="button"
            (click)="openConfirm(item)"
            class="m-2"
            ><i class="fa fa-trash"  style="color:red"></i></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</app-card>
