<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <ul
      class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
      id="accordionSidebar"
    >
      <span class="sidebar-brand d-flex align-items-center justify-content-center">
        <span class="sidebar-brand-text"> Dashboard</span>
      </span>
      <hr class="sidebar-divider my-0" />
      <li class="nav-item" *ngFor="let item of items">
        <a class="nav-link" [routerLink]="item.link" routerLinkActive="active">

         <span>{{ item.label }}</span>
        </a>
        <hr class="sidebar-divider my-0" />
      </li>
    </ul>
    </div>
    <div class="col-sm-10 mt-4">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>


