<ul
class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
id="accordionSidebar"
>
<span class="sidebar-brand d-flex align-items-center justify-content-center">
  <span class="sidebar-brand-text"> Dashboard</span>
</span>
<hr class="sidebar-divider my-0" />
<li class="nav-item" *ngFor="let item of items">
  <a class="nav-link" [routerLink]="item.link" routerLinkActive="active">
    <i [ngClass] ="item.icon" ></i> <span>{{ item.label }}</span>
  </a>
  <hr class="sidebar-divider my-0" />
</li>
</ul>

