<app-card>
  <span slot="start"><h2>Transmision List</h2></span>

  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 30%">Name</th>
        <th style="width: 40%">
          <a routerLink="add" class=" mb-2"
            ><i class="fa fa-plus-circle" style="color: green;"></i></a
          >
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let transmision of transmisionsArr">
        <td>{{transmision.name}}</td>
        <td style="white-space: nowrap">
          <a routerLink="edit/{{ transmision.id }}" class=" m-2"
            ><i class="fa fa-edit"></i></a
          >
          <a
            (click)=" openConfirmation(transmision)"
            class="  m-2"
            > <i class="fa fa-trash"  style="color:red"></i></a
          >
        </td>
      </tr>
    </tbody>
  </table>
</app-card>
