<app-card>
  <span slot="start">
    <h2 *ngIf="isAddModal">Add Model</h2>
    <h2 *ngIf="!isAddModal">Edit Model</h2>
  </span>
  <div class="container">
    <form action="" [formGroup]="modelForm">
      <label for=""> Enter a name </label>
      <input type="text" class="form-control" formControlName="name" />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="text-danger"
      >
        <div *ngIf="name.errors.required">Name is required.</div>
      </div>

      <label for=""> Enter a brand </label>
      <select   class="form-control" formControlName="brandId"
            >
            <option selected  value="">Choose...</option>
            <option *ngFor="let brand of brandArr" [value]="brand.id"> {{brand.name}}  </option>
          </select>
      <div
        *ngIf="brandId.invalid && (brandId.dirty || brandId.touched)"
        class="text-danger"
      >
        <div *ngIf="brandId.errors.required">Brand is required.</div>
      </div>

      <div class="row mt-3">
        <div class="col-md-12">
          <button class="btn btn-secondary m-2">Cancel</button>
          <button class="btn btn-primary m-2" [disabled] ="modelForm.invalid" (click)="save()">Save</button>
        </div>
      </div>
    </form>
  </div>
</app-card>
