<!-- <div class="container">
  <app-card>
    <span slot="start"><h3 *ngIf="isAddModal">Add Location</h3>
      <h3 *ngIf="!isAddModal">Edit Location</h3></span>
    <div class="container">
     < <form [formGroup]=""> -->
        <!-- <label for=""> Enter a StreetAddress</label>
        <input type="text" class="form-control" formControlName="streetAdress" />
        <div
          *ngIf="streetAdress.invalid && (streetAdress.dirty || streetAdress.touched)"
          class="text-danger"
        >
          <div *ngIf="streetAdress.errors.required">Name is required.</div>
        </div>

        <label for=""> Enter a City</label>
        <input type="text" class="form-control" formControlName="city" />
        <div
          *ngIf="city.invalid && (city.dirty || city.touched)"
          class="text-danger"
        >
          <div *ngIf="city.errors.required">Name is required.</div>
        </div>
        <label for=""> Enter a ZipCode</label>
        <input type="text" class="form-control" formControlName="zipCode" />
        <div
          *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)"
          class="text-danger"
        >
          <div *ngIf="zipCode.errors.required">Name is required.</div>
        </div>
        <label for=""> Enter a Country</label>
        <input type="text" class="form-control" formControlName="country" />
        <div
          *ngIf="country.invalid && (country.dirty || country.touched)"
          class="text-danger"
        >
          <div *ngIf="country.errors.required">Name is required.</div>
        </div>
 -->



















        <!-- <div class="row mt-2">
          <div class="col">
            <button class="btn btn-secondary m-2" [routerLink]="['/home/fueltype']">
              Cancel
            </button>
            <button class="btn btn-primary ml-2"  (click)="save()">Save</button>
          </div>
        </div>

    </div>
  </app-card>
</div>
 -->
